<hello name="{{ name }}"></hello>
<div class="userData">
  <pre>{{ userData | json }}</pre>
</div>
<div style="border:2px solid yellow; padding:10px; margin:20px">
  <h2 backGroundHighlight>This is Custom Directive Example</h2>
</div>
<div style="border:2px solid red;padding:10px;">
  <h2>Multiplier Custom Pipe Implementation Example</h2>
  <ul>
    <li *ngFor="let t of tableArray">
      {{ t | multiplier: tableNumber }}
    </li>
  </ul>
</div>
<p>Start editing to see some magic happen :)</p>
<app-one></app-one>
<app-two></app-two>
<app-other></app-other>
